html,
body {
    background-color: #090E16;

    @media (-webkit-max-device-pixel-ratio: 1) {
        * {
            image-rendering: pixelated;
        }
    }
}

body {
    inset: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #090E16;
}

#loading {
    background-color: #090E16;
    align-items: center;
    display: flex;
    position: absolute;
    z-index: 100 !important;
    height: 100%;
    width: 100%;
    justify-content: center;
}

#loading .logo {
    animation: 1s ease-in-out 0s infinite alternate breathe;
    opacity: .66;
    transition: opacity .4s;
    width: 60px;
    height: 60px;
    color: #f39237aa;
    /* border: 1px solid #f39237aa; */
}

#loading.main_done .logo {
    opacity: 1;
}

#loading.init_done {
    animation: .66s ease-in-out 0s 1 forwards zooooom;
    /* opacity: .66; */
}

@keyframes breathe {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(0.9)
    }
}

@keyframes zooooom {
    from {
        transform: scale(1);
        opacity: .66;
    }

    to {
        transform: scale(10);
        opacity: 0;
    }
}